@{
    ViewBag.Title = "bannang";
    Layout = "~/Views/Layout/nguoisudungLayout.cshtml";
}

<div id="page-wrapper">
    <div class="main-page">
        <div class="tables">
            <h3 class="title1">Bàn Nâng</h3>
            <div class="panel-body widget-shadow">
                <h4>Danh Sách bàn nâng</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Bàn Nâng</th>
                            <th>Kĩ Thuật Viên</th>
                            <th>Nội Dung Hiển Thị</th>
                            <th>Trạng Thái</th>
                            <th>Số Thẻ</th>
                            <th>Khách Hàng</th>
                            <th>Chỉnh sửa</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>1</th>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>2</th>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>3</th>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            </div>
        </div>
    </div>


