
@{
    ViewBag.Title = "dangnhap";
    Layout = "~/Views/Layout/nguoisudungLayout.cshtml";
}

<!-- main content start-->
<div id="page-wrapper">
    <div class="main-page login-page ">
        <h3 class="title1">Đăng Nhập vào Tài Khoản của Bạn</h3>
        <div class="widget-shadow">
            <div class="login-top">
                <h4>Công Ty Cổ Phần Công Nghệ Tiện Ích Thông Minh IKY Xin Chào Bạn<br> Bấm Sign IN để Đăng Nhập <a href="dangki">  Sign In »</a> </h4>
            </div> 
            <div class="login-body">
                <form>
                    <input type="text" class="user" name="email" placeholder="Nhập Email " required="">
                    <input type="password" name="password" class="lock" placeholder="Nhập Password">
                    <input type="submit" name="Sign In" value="Đăng Nhập">
                    <div class="forgot-grid">
                        <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>Nhớ Tài Khoản</label>
                        <div class="forgot">
                            <a href="#">Quên Mật Khẩu</a>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </form>
            </div>
        </div>
        </div>
    </div>

      

